{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<body>
</head>
    <header>
        <div class="main">
            <h1>The Library Management System</h1>
        </div>
        
        <div class="nav">
            
            <a href="{% url 'manage_books' %}">Manage Books</a>
            <a href="{% url 'manage_rentals' %}">Manage Rentals</a>
            <a href="{% url 'manage_time' %}">Manage Rent Time</a>
            <a href="{% url 'alerts' %}">Alert System</a>
            <a href="{% url 'manage_user' %}">Manage User</a>
        </div>
    {% block title %}

    {% endblock %}  
    </header>
<div class="sidebar">
    {% block side %}

    {% endblock %}  
</div>

{% block content %}

{% endblock %}



    
</body>
<footer>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    This is footer </footer>

</html>