{% extends 'base.html' %} 
{% load static %} 
{% block title %}

<h1>Manage Book</h1>

{% endblock %} 
{% block side %}
<h2>This Data for the side</h2>

{% endblock %}

{% block content %}

<div>
  <h2>Manage Book LMS</h2>
  <form method="POST">
    {%csrf_token%} 
    {{ manageBook }}

    <button type="submit">Submit</button>
  </form>

  <!-- <table>
            <tr><th>Serial Nr.</th><th>Bookname</th><th>ISBN</th></tr>
        {% for book, isbn in bookDetail  %}
                {% if not forloop.counter == 3 %}
                <tr>
                <td>{{ forloop.counter }}</td><td>{{ book }}</td> <td> {{ isbn }} </td>
                </tr>
                {% endif %}
        {% endfor %}
    
        </table> -->
</div>

{% endblock %}
