{% extends 'base.html' %}
{% load static %}

{% block title %}

<h1>Manage Alerts </h1>

{% endblock %}

{% block side %}
<h2>This Data for the side </h2>



{% endblock %}


{% block content %}
<h2>This is the Alert </h2>
<form method="POST">
 {% csrf_token %}
    {{alerts}}
    <button type="submit">Save it</button>
</form>

<div>
    <table>
    <th>Title</th><th>Text</th><th>Type</th>
    {% for i in alertDB %}
    
    <tr><td>{{ i.alertTitle}}</td><td>{{ i.alertText}}</td><td>{{ i.alertType}}</td></tr> 
    {% endfor %}

</table>
</div>

{% endblock %}