{% extends 'base.html' %} 
{% load static %} 
{% block title %}

<h1>Manage Book</h1>

{% endblock %} 
{% block side %}
<h2>This Data for the side</h2>

{% endblock %}

{% block content %}

<div>
  <h2>Manage Book LMS</h2>
  <form method="POST">
    {%csrf_token%} 
    {{ manage_Book }}

    <button type="submit">Submit</button>
  </form>

<table>
  <th>Name</th><th>Author</th><th>Year</th><th>ISBN</th>
  {% for i in bookDB %}
<tr><td>{{i.bookName}}</td><td>{{i.bookAuthor}}</td><td>{{i.bookYear}}</td><td>{{i.isbn}}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
